:root {
    --primary: #0483fa; /* Main blue color */
    --light: #EFF5FF;   /* Light background */
    --dark: #1B2C51;    /* Dark color */
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Spinner overlay */
#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9); /* Light overlay */
    z-index: 9999; /* On top of other elements */
}

#spinner.hidden {
    display: none;
}

.navbar {
    background-color: var(--primary);
    color: var(--light);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    box-shadow: none; /* Initial */
    transition: box-shadow 0.3s ease;
}

.navbar.scrolled {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow when scrolling */
}

.navbar-brand {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    gap: 1px;
    padding: 0;
    color: var(--light);
}

.navbar-brand img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar-brand a{
    text-decoration: none;
}

.navbar-brand h2{
    color: var(--light);
    text-align: center;
    font-weight: 500;
    margin-top: 8px;
    text-transform: uppercase;
    font-size: 2rem; /* Larger for better alignment */
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #EFF5FF;
}

.navbar-toggler {
    border: none;
    background-color: #ffffff;
    color: #007bff; /* Toggle button color */
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007bff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    color: var(--primary);
}


.hero {
    background-color: var(--primary);
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
}

.hero .container {
    margin-top: 34px;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 3px;
    align-items: center;
}

.hero .container .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.container .hero-content .btn {
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.hero .container .hero-content p {
    font-size: 1.3rem;
    font-weight: 100;
}

 .carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
 }

 

.about {
    color: var(--dark);
    padding: 3rem 0;
}

.about .container p {
    font-size: 1.1rem;
}

.about-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;

}


.about-grid-item img {
    width: 432px;
    height: 267px;
    object-fit: cover;
    border-radius: 4px;
    margin-top: 14px;
}

.about-grid-item .btn {
    font-size: 15px;
    box-shadow: 0 4px 8px 8px rgba(21, 2, 107, 0.1);
}

/* Back to Top button */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 99;
}

/* Feature section styles */
.feature {
    background-color: #f9f9f9;
    padding: 50px 20px;
}

.feature-title {
    text-align: center;
    font-size: 2rem;
    color: #002855;
    margin-bottom: 20px;
    font-weight: 500;
}

.feature-description {
    text-align: center;
    color: #555;
    max-width: 600px;
    margin: 0 auto 40px;
    font-size: 1.2rem;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.feature-item {
    display: flex;
    align-items: start;
    gap: 15px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.feature-icon {
    font-size: 2rem;
    color: #002855;
    transition: transform 0.3s ease, color 0.3s ease;
}

.feature-text h3 {
    font-size: 1.2rem;
    color: #002855;
    margin: 0;
}

.feature-text p {
    color: #666;
    margin: 5px 0 0;
}

/* Hover effects */
.feature-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /*transform: translateY(-5px);**/
    background-color: #f1f9ff;
}

.feature-item:hover .feature-icon {
    color: #007bff;
    transform: scale(1.2);
}


/* Register section styles */
.register-section {
    background-color: var(--primary);
    width: 100%;
    padding: 14px;
}

.register-section .container {
    max-width: 640px;
    margin: 45px auto;
    width: 100%;
    flex: 1 0 auto;
    background: hsl(0, 0%, 100%);
    padding: 10px 20px;
    box-shadow: 0 4px 8px 8px rgba(21, 2, 107, 0.1);
    border-radius: 3px;
    margin-bottom: 20px;
    font-weight: 500;
}

.register-form {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    color: var(--dark);
}

.register-form h2 {
    font-size: 2rem;
    color: var(--primary);
    margin-bottom: 10px;
}

.register-form p {
    color: #666;
    margin-bottom: 30px;
    font-size: 1rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input[placeholder] {
    font-style: italic;
    color: rgb(126, 106, 106);
    font-weight: 300;
}

.form-group input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    outline: none;
}

.submit-btn {
    background-color: var(--primary);
    color: #fff;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.submit-btn:active {
    background-color: #003f7f;
    transform: translateY(0);
}

/* Footer styles */
.footer {
    background-color: #0f2454; /* Dark blue background */
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-newsletter {
    background-color: #c7dde0;
    max-width: 998px;
    margin: 45px auto;
    width: 100%;
    padding: 59px 34px;
    margin-bottom: 34px;
}

.footer-newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-newsletter h3 {
    font-size: 1.3rem;
    color: var(--dark);
}

.newsletter-form {
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 7px;
}

.newsletter-form input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 100%;
    outline-style: none;
    
}

.newsletter-form button {
    padding: 10px;
    width: 100%;
    background-color: #1d3557; /* Slightly lighter blue */
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.newsletter-form button:hover {
    background-color: #003f7f;
}

.footer-socials {
    max-width: 998px;
    margin: 45px auto;
    margin-top: 47px;
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-links {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #bfc8d0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: rgb(122, 82, 6);
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-social a {
    color: #bfc8d0;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #ffffff;
}

.border-line {
    max-width: 998px;
    margin: 21px auto;
    width: 100%;
    flex: 1 0 auto;
    border: 1px solid var(--light);
}

.footer-bottom {
    max-width: 998px;
    margin: 28px auto;
    width: 100%;
    flex: 1 0 auto;
    font-size: 0.9rem;
    color: #bfc8d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.footer-bottom a {
    color: #bfc8d0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-bottom a:hover {
    color: rgb(122, 82, 6);
}

@media only screen and (max-width: 980px) {
    .navbar-brand img{
        width: 38px;
        height: 38px;
    }
    
    .navbar-brand h2{
        color: var(--light);
        text-align: center;
        font-weight: 600;
        font-size: 1rem;
    }
    .hero {
        padding: 3px;
    }
    .hero .container {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hero .container .hero-content h1{
        font-size: 2rem;
    }

    .hero .container .hero-content p {
        font-size: 1.1rem;
        font-weight: 100;
    }
    
    .hero h1 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    .container .hero-content .btn {
        font-size: 13px;
    }
    
    .carousel-inner .carousel-item img {
        height: 277px;
     }

    .footer {
        padding: 20px 10px;
    }
    
    .footer-newsletter {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .footer-newsletter h3 {
        font-size: 1rem;
        color: var(--dark);
    }

    .footer-newsletter {
        padding: 8px 16px;
    }
    .newsletter-form input[type="email"] {
        padding: 5px 10px;
        border: none;
        border-radius: 5px 0 0 5px;
        width: 100%;
        max-width: 320px;
    }
    
    .newsletter-form button {
        padding: 5px 10px;
    }
    .footer-socials {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    } 
    .about-grid {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
    } 
    .about-grid-item img {
        width: 100%;
    }


}